---
layout: page
isMain: true
---

<section id="quicklinks">
  <div class="row">
    <h1 class="header-bar">Quick Links</h1>
    {% include_relative sections/quicklinks.html %}
  </div>
</section>

<section id="updates">
  <div class="row">
    <h1 class="header-bar">Updates</h1>
    {% include_relative sections/updates.html %}
  </div>
</section>

<section id="overview">
  <div class="row">
    <h1 class="header-bar">Overview</h1>
    {% include_relative sections/overview.html %}
  </div>
</section>

<section id="grades">
  <div class="row">
    <h1 class="header-bar">Grading</h1>
    {% include_relative sections/grading.html   %}
  </div>
</section>

<section id="instructor">
  <div class="row">
    <h1 class="header-bar">Instructor</h1>
    {% include_relative sections/instructor.html %}
  </div>
</section>

<section id="resources">
  <div class="row">
    <h1 class="header-bar">Resources</h1>
    {% include_relative sections/resources.html %}
  </div>
</section>
