
<!-- Nav Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-toggle-wrapper visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="{{ "/" | prepend:site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="navbar-nav nav">

              {% if page.isMain %}
              <!-- Hidden li included to remove active class from overview link when scrolled up -->
              <li class="hidden">
                <a class="page-scroll" href="#page-top"></a>
              </li>
              <li>
                <a class="page-scroll" href="#overview">Overview</a>
              </li>
              <li>
                <a class="page-scroll" href="#grades">Grades</a>
              </li>
              <li>
                <a class="page-scroll" href="#instructor">Instructor</a>
              </li>
              <li>
                <a class="page-scroll" href="#resources">Resources</a>
              </li>
              {% endif %}
              <!-- Class Info Dropdowm -->
              <li class="dropdown">
                  <a id="docs-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown"
                     aria-haspopup="true" role="button" aria-expanded="false">
                      Class Info&nbsp;
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  {% for item in site.semesters %}
                      <li role="presentation">
                          <a href="{{ item.url | prepend:site.baseurl}}" role="menuitem" tabindex="-1">
                              {{ item.semester }}
                          </a>
                      </li>
                  {% endfor %}
                  </ul>
              </li>
              <!-- End Dropdown -->

              <!-- End Nav items -->
            </ul>
            <ul class="navbar-nav nav navbar-right">
              <li class="hidden-sm">
                  <div title="Hennepin Technical College">
                  <a id="htc-button" class="btn btn-primary" href="https://www.hennepintech.edu/">
                  </a></div>
              </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Nav Bar -->
